---
common-css:
  - "/assets/css/bootstrap-social.css"
---


<!DOCTYPE html>
<html lang="en">
  {% seo %}
  {% include head.html %}
  <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <main>{{ content }}</main>
      <footer>{% include footer.html %}</footer>
    </div>
    {% include link-previews.html wrapperQuerySelector="content" %}
  </body>
</html>
